// fonts
$base-ff: 'Montserrat', sans-serif;
$second-ff: 'Actay';

// media
$laptop: 1600px;
$tablet: 991px;
$phone: 767px;


// color
$new: #1E9718;
$light_gray: #F5F5F5;
$white: #FFFFFF;
$black: #141414;
$gray: #3C3C3C;
$light_violet: #DFDAFE;
$violet: #6E39A6;
$dark_violet: #502B77;
$top: #D45608;
$error: #FF6741;

// transition
$duration: 0.3s;
$effect: ease-out;
