@@include("../partials/header-second.html")

<div class="card">
  <div class="wrapper">
    <div class="breadcrumbs">
      <div class="breadcrumbs-wrap row align-center">
        <a href="#" class="text5 breadcrumbs_link">Главная</a>
        <span class="text5">—</span>
        <a href="#" class="text5 breadcrumbs_link">Каталог</a>
        <span class="text5">—</span>
        <span class="text5">TCN-NCF-4N</span>
      </div>
    </div>
    <section class="info-product">
      <div class="info-product-wrapp row">
        <div class="left row column">
          <div class="title info-product_title__mobile text4">Кофейный торговый автомат</div>
          <h1 class="title2 info-product_title__mobile">TCN-NCF-4N(V10.1)</h1>
          <div class="img-wrapp swiper row column swiperTumb">
            <div class="swiper-wrapper img mainSwiperTumb">
              <div class="swiper-slide">
                <img src="../../static/img/card-image-1.png" alt="" />
              </div>
              <div class="swiper-slide">
                <img src="../../static/img/card-image-2.jpg" alt="" />
              </div>
              <div class="swiper-slide">
                <img src="../../static/img/card-image-3.jpg" alt="" />
              </div>
              <div class="swiper-slide">
                <img src="../../static/img/card-image-4.jpg" alt="" />
              </div>
            </div>
            <div class="tab-img row swiper swiperTumb2" thumbsSlider="">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../../static/img/card-image-1.png" alt="" />
                </div>
                <div class="swiper-slide">
                  <img src="../../static/img/card-image-2.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                  <img src="../../static/img/card-image-3.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                  <img src="../../static/img/card-image-4.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right row column">
          <div class="top row column">
            <div class="title info-product_title__desk text4">Кофейный торговый автомат</div>
            <h1 class="title2 info-product_title__desk">TCN-NCF-4N(V10.1)</h1>
          </div>
          <div class="parameters row column">
            <div class="parameters-wrapp row align-center justify-sb">
              <span class="text4">Высота</span>
              <span class="parameters_grow"></span>
              <span class="text4">810 мм</span>
            </div>
            <div class="parameters-wrapp row align-center justify-sb">
              <span class="text4">Ширина</span>
              <span class="parameters_grow"></span>
              <span class="text4">460 мм</span>
            </div>
            <div class="parameters-wrapp row align-center justify-sb">
              <span class="text4">Глубина</span>
              <span class="parameters_grow"></span>
              <span class="text4">450 мм</span>
            </div>
            <div class="parameters-wrapp row align-center justify-sb">
              <span class="text4">Вес</span>
              <span class="parameters_grow"></span>
              <span class="text4">55 кг</span>
            </div>
            <div class="parameters-wrapp row align-center justify-sb">
              <span class="text4">Гарантия</span>
              <span class="parameters_grow"></span>
              <span class="text4">12 месяцев</span>
            </div>
            <div class="parameters-wrapp row align-center justify-sb">
              <span class="text4">Производитель</span>
              <span class="parameters_grow"></span>
              <span class="text4">Китай</span>
            </div>
            <div class="parameters-wrapp row align-center justify-sb">
              <span class="text4">Экран</span>
              <span class="parameters_grow"></span>
              <span class="text4">сенсорный экран 10.1”</span>
            </div>
          </div>
          <button class="btn btn__secondary btn-green">
            <span class="text2">Оставить заявку</span>
          </button>
        </div>
      </div>
    </section>

    <section class="product-desc">
      <div class="product-desc-wrapp row">
        <div class="left row column">
          <h2 class="title2">Описание</h2>
          <p class="text3">
            Надёжный, простой в использовании автомат производства США. Прочный антивандальный корпус позволяет
            использовать автомат в местах большого скопления людей. Автомат оборудован датчиком выдачи товара,
            что исключает возможность неполучения покупателем оплаченного товара. В автомат устанавливается система
            охлаждения, что позволяет соблюдать условия хранения товара и охлаждать продаваемые напитки. Изменяемая
            конфигурация полок, позволяет настраивать автомат для продажи разногабаритных товаров. В зависимости
            от конфигурации полок вместимость автомата варьируется от 600 до 1100 единиц товара
          </p>
          <div class="parameters row column">
            <div class="parameters-wrapp row align-center justify-sb">
              <span class="text4">Высота</span>
              <span class="parameters_grow"></span>
              <span class="text4">810 мм</span>
            </div>
            <div class="parameters-wrapp row align-center justify-sb">
              <span class="text4">Ширина</span>
              <span class="parameters_grow"></span>
              <span class="text4">460 мм</span>
            </div>
            <div class="parameters-wrapp row align-center justify-sb">
              <span class="text4">Глубина</span>
              <span class="parameters_grow"></span>
              <span class="text4">450 мм</span>
            </div>
            <div class="parameters-wrapp row align-center justify-sb">
              <span class="text4">Вес</span>
              <span class="parameters_grow"></span>
              <span class="text4">55 кг</span>
            </div>
            <div class="parameters-wrapp row align-center justify-sb">
              <span class="text4">Гарантия</span>
              <span class="parameters_grow"></span>
              <span class="text4">12 месяцев</span>
            </div>
            <div class="parameters-wrapp row align-center justify-sb">
              <span class="text4">Производитель</span>
              <span class="parameters_grow"></span>
              <span class="text4">Китай</span>
            </div>
            <div class="parameters-wrapp row align-center justify-sb">
              <span class="text4">Экран</span>
              <span class="parameters_grow"></span>
              <span class="text4">сенсорный экран 10.1”</span>
            </div>
          </div>
        </div>
        <div class="right-content row column">
          <div class="right row align-center">
            <img src="../../static/img/image_desc.png" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="assortment">
      <h2 class="title3 assortment_title">Аcсортимент</h2>
      <div class="assortment_content-wrapper">
        <div class="assortment_column">
          <h3 class="assortment_column-title text2">Зерновой кофе</h3>
          <ul class="assortment_list">
            <li class="assortment_list-item text4">эспрессо</li>
            <li class="assortment_list-item text4">кофе черный</li>
            <li class="assortment_list-item text4">кофе с молоком</li>
            <li class="assortment_list-item text4">капучино</li>
            <li class="assortment_list-item text4">капучино с шоколадом</li>
            <li class="assortment_list-item text4">кофе с шоколадом</li>
          </ul>
        </div>
        <div class="assortment_column">
          <h3 class="assortment_column-title text2">Дополнительно</h3>
          <ul class="assortment_list">
            <li class="assortment_list-item text4">капучино</li>
            <li class="assortment_list-item text4">амаретто</li>
            <li class="assortment_list-item text4">двойной капучино</li>
            <li class="assortment_list-item text4">амаретто с молоком</li>
            <li class="assortment_list-item text4">капучино амаретто</li>
            <li class="assortment_list-item text4">горячий шоколад</li>
            <li class="assortment_list-item text4">двойной горячий шоколад</li>
            <li class="assortment_list-item text4">горячий шоколад с молоком</li>
            <li class="assortment_list-item text4">чай</li>
            <li class="assortment_list-item text4">молоко</li>
            <li class="assortment_list-item text4">молоко с кофе</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="payment">
      <h2 class="title2 payment_title">Оплата продукции</h2>
      <ul class="payment_list">
        <li class="payment_list-item">
          <h3 class="text2">Моментальная
            оплата</h3>
          <p class="text4">
            Самый популярный вариант при котором каждый клиент самостоятельно оплачивает напитки и снеки.
          </p>
        </li>
        <li class="payment_list-item">
          <h3 class="text2">Бесплатная выдача
            продукции</h3>
          <p class="text4">
            Вариант оплаты продукции кофейных и снековых аппаратов при котором расчёты осуществляются по итогам месяца
            на основании показаниям счётчиков выпитых напитков
          </p>
        </li>
        <li class="payment_list-item">
          <h3 class="text2">Частичная
            оплата</h3>
          <p class="text4">
            Вы можете выбрать опцию при которой определённый процент от стоимости продукции оплачивается в момент
            покупки, а часть стоимости оплачивается вами по итогам месяца согласно счётчикам.
          </p>
        </li>
      </ul>
    </section>
  </div>

  <section class="built-modules">
    <div class="wrapper">
      <div class="built-modules_content-wrapper">
        <ul class="built-modules_list">
          <li class="built-modules_item">
            <span class="text4">Встроеннные купюроприемник&nbsp; и монетоприемник</span>
            <div class="built-modules_item-line"></div>
          </li>
          <li class="built-modules_item">
            <span class="text4">Модули бесконтактной оплаты paypass,
              карточки СКУД</span>
            <div class="built-modules_item-line"></div>
          </li>
          <li class="built-modules_item">
            <span class="text4">Модули для выдачи сдачи</span>
            <div class="built-modules_item-line"></div>
          </li>
          <li class="built-modules_item">
            <span class="text4">Модули карточек Visa / Mastercard / Мир</span>
            <div class="built-modules_item-line"></div>
          </li>
        </ul>
        <img src="../../static/img/image_built-modules.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="features">
    <div class="wrapper">
      <h2 class="title2 features_title">Совершенно бесплатно</h2>
      <ul class="features-list">
        <li class="features-item">
          <span class="features-item-icon">
            <img src="../../static/img/features_1-icon.svg" alt="">
          </span>
          <span class="features-item-text text2">
            Привезём и установим автоматы в вашем помещении
          </span>
        </li>
        <li class="features-item">
          <span class="features-item-icon">
            <img src="../../static/img/features_2-icon.svg" alt="">
          </span>
          <span class="features-item-text text2">
            Проводим регулярное обслуживание: доставку и пополнение автоматов всеми ингридиентами
          </span>
        </li>
        <li class="features-item">
          <span class="features-item-icon">
            <img src="../../static/img/features_3-icon.svg" alt="">
          </span>
          <span class="features-item-text text2">
            Проводим техническое обслуживание: ремонт и замену неисправностей
          </span>
        </li>
      </ul>
    </div>
  </section>

  <section class="catalog-block">
    <div class="wrapper">
      <div class="catalog-block_text-content">
        <h2 class="title2 catalog-block_title">Похожие товары</h2>
        <a href="#" class="catalog-block_link text4">Смотреть все</a>
      </div>
      <div class="catalog-block_list catalog-container">
        <a href="#" class="card row column">
          <div class="img-wrapp">
            <img src="../../static/img/vending-machine-3.png" alt="">
          </div>
          <div class="name text5">Кофейный торговый автомат</div>
          <div class="desc text3">TCN-NCF-4N(V10.1)</div>
          <div class="card_icon card_icon__discount">
            <span>%</span>
          </div>
        </a>
        <a href="#" class="card row column">
          <div class="img-wrapp">
            <img src="../../static/img/vending-machine-3.png" alt="">
          </div>
          <div class="name text5">Кофейный торговый автомат</div>
          <div class="desc text3">TCN-NCF-4N(V10.1)</div>
          <div class="card_icon card_icon__discount">
            <span>%</span>
          </div>
        </a>
        <a href="#" class="card row column">
          <div class="img-wrapp">
            <img src="../../static/img/vending-machine-3.png" alt="">
          </div>
          <div class="name text5">Кофейный торговый автомат</div>
          <div class="desc text3">TCN-NCF-4N(V10.1)</div>
          <div class="card_icon card_icon__discount">
            <span>%</span>
          </div>
        </a>
        <a href="#" class="card row column">
          <div class="img-wrapp">
            <img src="../../static/img/vending-machine-3.png" alt="">
          </div>
          <div class="name text5">Кофейный торговый автомат</div>
          <div class="desc text3">TCN-NCF-4N(V10.1)</div>
          <div class="card_icon card_icon__discount">
            <span>%</span>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="form-block">
    <div class="wrapper">
      <h2 class="form-block_title title2">Оставить заявку</h2>
      <form action="" class="contact-form">
        <input type="text" class="input" placeholder="Имя*" required>
        <input type="email" class="input" placeholder="Почта*" required>
        <input type="tel" class="input" placeholder="Телефон*" required>
        <div class="form-block_checkbox-wrapper">
          <input type="checkbox" class="contact-form_checkbox">
          <span class="contact-form_checkbox-text text5">Нажимая кнопку «Отправить», я соглашаюсь с
            <a href="/privacy-policy/">Политикой обработки персональных данных</a>
          </span>
        </div>
        <button class="btn btn__secondary contact-form_btn">
          <span class="text2">Отправить</span>
        </button>
      </form>
    </div>
  </section>
</div>
@@include("../partials/footer.html")