@@include("../partials/header-second.html")
<div class="catalog-page">
  <section class="breadcrumbs">
    <div class="wrapper">
      <div class="breadcrumbs-wrap row align-center">
        <a href="#" class="breadcrumbs_link text5">Главная</a>
        <span class="text5">—</span>
        <span class="text5">Каталог</span>
      </div>
    </div>
  </section>
  <section class="catalog-filter">
    <div class="wrapper">
      <div class="catalog-filter-wrapp row">
        <div class="filter row column">
          <h1 class="title2">Каталог</h1>
          <form>
            <div class="filter-wrapp row column">
              <div class="title-filter row align-center justify-sb">
                <span class="text2">Фильтр</span>
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9.42501 10.225L1.02505 1.825C0.738053 1.538 0.738053 1.062 1.02505 0.775C1.31205 0.488 1.78805 0.488 2.07505 0.775L10.475 9.175C10.762 9.462 10.762 9.938 10.475 10.225C10.188 10.512 9.71201 10.512 9.42501 10.225Z"
                    fill="#2C2C2C" />
                  <path
                    d="M1.025 10.225C0.737999 9.938 0.737999 9.462 1.025 9.175L9.42495 0.775C9.71195 0.488 10.1879 0.488 10.4749 0.775C10.7619 1.062 10.7619 1.538 10.4749 1.825L2.07499 10.225C1.78799 10.512 1.312 10.512 1.025 10.225Z"
                    fill="#2C2C2C" />
                </svg>
              </div>
              <div class="filter-mob-wrapp row column">
                <div class="accordion-item">
                  <div class="accordion-content row column">
                    <div class="accordion-title row justify-sb align-center">
                      <div class="title text3">
                        Установка вендинговых автоматов
                      </div>
                      <div class="icon">
                        <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M6.82617 8.29883L1.20117 2.67383C0.820312 2.32227 0.820312 1.70703 1.20117 1.35547C1.55273 0.974609 2.16797 0.974609 2.51953 1.35547L7.5 6.30664L12.4512 1.35547C12.8027 0.974609 13.418 0.974609 13.7695 1.35547C14.1504 1.70703 14.1504 2.32227 13.7695 2.67383L8.14453 8.29883C7.79297 8.67969 7.17773 8.67969 6.82617 8.29883Z"
                            fill="#434343" />
                        </svg>
                      </div>
                    </div>
                    <div class="accordion-includes">
                      <div class="desc-acc">
                        <div class="input-wrapp checkbox-wrapp row align-center">
                          <input type="checkbox" name="snack" id="snack" />
                          <label for="snack"><span class="text5">Снековые</span></label>
                        </div>
                        <div class="input-wrapp checkbox-wrapp row align-center">
                          <input type="checkbox" name="coffee" id="coffee" />
                          <label for="coffee"><span class="text5">Кофейные</span></label>
                        </div>
                        <div class="input-wrapp checkbox-wrapp row align-center">
                          <input type="checkbox" name="coffee-snacks" id="coffee-snacks" />
                          <label for="coffee-snacks"><span class="text5">Кофейные и снековые</span></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-content row column">
                    <div class="accordion-title row justify-sb align-center">
                      <div class="title text3">
                        Экран
                      </div>
                      <div class="icon">
                        <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M6.82617 8.29883L1.20117 2.67383C0.820312 2.32227 0.820312 1.70703 1.20117 1.35547C1.55273 0.974609 2.16797 0.974609 2.51953 1.35547L7.5 6.30664L12.4512 1.35547C12.8027 0.974609 13.418 0.974609 13.7695 1.35547C14.1504 1.70703 14.1504 2.32227 13.7695 2.67383L8.14453 8.29883C7.79297 8.67969 7.17773 8.67969 6.82617 8.29883Z"
                            fill="#434343" />
                        </svg>
                      </div>
                    </div>
                    <div class="accordion-includes">
                      <div class="desc-acc text5">
                        <div class="input-wrapp checkbox-wrapp row align-center">
                          <input type="checkbox" name="graphic-screen" id="graphic-screen" />
                          <label for="graphic-screen"><span class="text5">Графический</span></label>
                        </div>
                        <div class="input-wrapp checkbox-wrapp row align-center">
                          <input type="checkbox" name="touchscreen" id="touchscreen" />
                          <label for="touchscreen"><span class="text5">Тачскрин</span></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-content row column">
                    <div class="accordion-title row justify-sb align-center">
                      <div class="title text3">
                        Установка модульных микромаркетов
                      </div>
                      <div class="icon">
                        <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M6.82617 8.29883L1.20117 2.67383C0.820312 2.32227 0.820312 1.70703 1.20117 1.35547C1.55273 0.974609 2.16797 0.974609 2.51953 1.35547L7.5 6.30664L12.4512 1.35547C12.8027 0.974609 13.418 0.974609 13.7695 1.35547C14.1504 1.70703 14.1504 2.32227 13.7695 2.67383L8.14453 8.29883C7.79297 8.67969 7.17773 8.67969 6.82617 8.29883Z"
                            fill="#434343" />
                        </svg>
                      </div>
                    </div>
                    <div class="accordion-includes">
                      <div class="desc-acc text5">
                        <div class="input-wrapp checkbox-wrapp row align-center">
                          <input type="checkbox" name="product-module" id="product-module" />
                          <label for="product-module"><span class="text5">Товарный модуль</span></label>
                        </div>
                        <div class="input-wrapp checkbox-wrapp row align-center">
                          <input type="checkbox" name="coffee-module" id="
                          coffee-module" />
                          <label for="coffee-module"><span class="text5">Кофейный</span></label>
                        </div>
                        <div class="input-wrapp checkbox-wrapp row align-center">
                          <input type="checkbox" name="refrigeration-module" id="refrigeration-module" />
                          <label for="refrigeration-module"><span class="text5">Холодильный</span></label>
                        </div>
                        <div class="input-wrapp checkbox-wrapp row align-center">
                          <input type="checkbox" name="kits" id="kits" />
                          <label for="kits"><span class="text5">Комплекты</span></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="facetwp-facet facetwp-facet-length facetwp-type-slider" data-name="length"
                  data-type="slider">
                  <div class="facetwp-slider-wrap">
                    <div class="facetwp-slider noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr ready">
                      <div class="noUi-base">
                        <div class="noUi-connects">
                          <div class="noUi-connect" style="transform: translate(0%, 0px) scale(1, 1);"></div>
                        </div>
                        <div class="noUi-origin" style="transform: translate(-100%, 0px); z-index: 5;">
                          <div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider"
                            aria-orientation="horizontal" aria-valuemin="810.0" aria-valuemax="2020.0"
                            aria-valuenow="810.0" aria-valuetext="810.00">
                            <div class="noUi-touch-area"></div>
                          </div>
                        </div>
                        <div class="noUi-origin" style="transform: translate(0%, 0px); z-index: 4;">
                          <div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0" role="slider"
                            aria-orientation="horizontal" aria-valuemin="810.0" aria-valuemax="2020.0"
                            aria-valuenow="2020.0" aria-valuetext="2020.00">
                            <div class="noUi-touch-area"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <span class="facetwp-slider-label">810 — 2020</span>
                  <div>
                    <input type="button" class="facetwp-slider-reset facetwp-hidden" value="Reset">
                  </div>
                </div>
                <div class="range-wrapp row column">
                  <div class="range-title text3">Высота</div>
                  <div class="size-range text5">0</div>
                  <input class="range-value" type="range" value="810" min="0" max="1000" step="5">
                </div>
                <div class="range-wrapp row column">
                  <div class="range-title text3">Глубина</div>
                  <div class="size-range text5">0</div>
                  <input class="range-value" type="range" value="460" min="0" max="1000" step="5">
                </div>
                <div class="range-wrapp weight row column">
                  <div class="range-title text3">Вес</div>
                  <div class="size-range text5">0</div>
                  <input class="range-value" type="range" value="50" min="0" max="1000" step="5">
                </div>
                <div class="range-wrapp price-filter row column">
                  <div class="range-title text3">Цена</div>
                  <div class="size-range text5">0</div>
                  <input class="range-value" type="range" value="179000" min="0" max="180000" step="5">
                </div>
                <div class="button-wrapp row column">
                  <button class="btn btn__secondary">
                    <span class="text2">Применить</span>
                  </button>
                  <button class="btn catalog_btn">
                    <span class="text2">Сбросить</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="catalog-cards row column">
          <div class="catalog-container">
            <a href="#" class="card row column">
              <div class="img-wrapp">
                <img src="../../static/img/vending-machine-3.png" alt="">
              </div>
              <div class="name text5">Кофейный торговый автомат</div>
              <div class="desc text3">TCN-NCF-4N(V10.1)</div>
              <div class="card_icon card_icon__discount">
                <span>%</span>
              </div>
            </a>
            <a href="#" class="card row column">
              <div class="img-wrapp">
                <img src="../../static/img/vending-machine-2.png" alt="">
              </div>
              <div class="name text5">Кофейный торговый автомат</div>
              <div class="desc text3">TCN-NCF-4N(V10.1)</div>
              <div class="card_icon card_icon__sale">
                <span>
                  <img src="../../static/img/star-sale_icon.svg" alt="">
                </span>
              </div>
            </a>
            <a href="#" class="card row column">
              <div class="img-wrapp">
                <img src="../../static/img/vending-machine-1.png" alt="">
              </div>
              <div class="name text5">Кофейный торговый автомат</div>
              <div class="desc text3">TCN-NCF-4N(V10.1)</div>
              <div class="card_icon card_icon__new">
                <span>NEW</span>
              </div>
            </a>
            <a href="#" class="card row column">
              <div class="img-wrapp">
                <img src="../../static/img/vending-machine-2.png" alt="">
              </div>
              <div class="name text5">Кофейный торговый автомат</div>
              <div class="desc text3">TCN-NCF-4N(V10.1)</div>
            </a>
            <a href="#" class="card row column">
              <div class="img-wrapp">
                <img src="../../static/img/vending-machine-3.png" alt="">
              </div>
              <div class="name text5">Кофейный торговый автомат</div>
              <div class="desc text3">TCN-NCF-4N(V10.1)</div>
            </a>
            <a href="#" class="card row column">
              <div class="img-wrapp">
                <img src="../../static/img/vending-machine-4.png" alt="">
              </div>
              <div class="name text5">Кофейный торговый автомат</div>
              <div class="desc text3">TCN-NCF-4N(V10.1)</div>
            </a>
            <a href="#" class="card row column">
              <div class="img-wrapp">
                <img src="../../static/img/vending-machine-1.png" alt="">
              </div>
              <div class="name text5">Кофейный торговый автомат</div>
              <div class="desc text3">TCN-NCF-4N(V10.1)</div>
            </a>
            <a href="#" class="card row column">
              <div class="img-wrapp">
                <img src="../../static/img/vending-machine-2.png" alt="">
              </div>
              <div class="name text5">Кофейный торговый автомат</div>
              <div class="desc text3">TCN-NCF-4N(V10.1)</div>
            </a>
            <a href="#" class="card row column">
              <div class="img-wrapp">
                <img src="../../static/img/vending-machine-3.png" alt="">
              </div>
              <div class="name text5">Кофейный торговый автомат</div>
              <div class="desc text3">TCN-NCF-4N(V10.1)</div>
            </a>
          </div>

          <div class="pagination row align-center justify-center">
            <div class="pagination-wrapp row align-center justify-sb">
              <div class="button-nav prev">
                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M6.76233 17.204L13.6233 23.7747L14.3857 24.5L15.9103 23.0493L15.148 22.324L10.1256 17.5027H24.9238H26V15.4547H24.9238H10.1256L15.148 10.676L15.9103 9.95067L14.3857 8.5L13.6233 9.22533L6.76233 15.7533L6 16.4787L6.76233 17.204Z"
                    fill="#502B77" />
                </svg>
              </div>
              <div class="pag-num row">
                <a href="#" class="text5">1</a>
                <a href="#" class="text5">2</a>
                <a href="#" class="text5">3</a>
                <a href="#" class="text5">...</a>
                <a href="#" class="text5">20</a>
              </div>
              <div class="button-nav next">
                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M25.2377 17.204L18.3767 23.7747L17.6143 24.5L16.0897 23.0493L16.852 22.324L21.8744 17.5027H7.07623H6V15.4547H7.07623H21.8744L16.852 10.676L16.0897 9.95067L17.6143 8.5L18.3767 9.22533L25.2377 15.7533L26 16.4787L25.2377 17.204Z"
                    fill="#502B77" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

@@include("../partials/footer.html")