@@include("../partials/header-second.html")

<div class="breadcrumbs">
  <div class="wrapper breadcrumbs-wrap">
    <a href="./index.html" class="text5 breadcrumbs_link">Главная</a>
    <span class="text5">—</span>
    <span class="text5">Политика обработки персональных данных</span>
  </div>
</div>

<div class="privacy-policy-block">
  <h1>ПОЛИТИКА ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ ООО «МИР ВЕНДИНГА РУС»</h1>
  <h2>1. Общие положения</h2>
  <p>
    1.1. ООО «МИР ВЕНДИНГА РУС» (ИНН 7726426169, ОГРН 1187746332839, адрес регистрации: 117648, город Москва, мкр.
    Северное Чертаново, д. 5, этаж 2, офис 204) разработало эту Политику обработки персональных данных в соответствии с
    российским законодательством (Федеральный закон №152-ФЗ «О персональных данных»). Этот внутренний документ
    описывает, как компания собирает, хранит, использует и защищает персональные данные своих клиентов и сотрудников.
    Политика устанавливает правила и процедуры, направленные на обеспечение безопасности и конфиденциальности
    персональных данных в соответствии с требованиями закона. Данный документ, регламентирует то, как компания «МИР
    ВЕНДИНГА РУС» обращается с личной информацией субъектов персональных данных и гарантирует её защиту. <br>
    1.2. Владелец сайта – Общество с ограниченной ответственностью «МИР ВЕНДИНГА РУС» (ИНН 7726426169, ОГРН
    1187746332839, адрес регистрации: 117648, город Москва, мкр. Северное Чертаново, д. 5, этаж 2, офис 204). <br>
    1.3. Политика распространяется на все действия, связанные с обработкой персональных данных на сайте https://avend.ru
    (далее – «Сайт») Оператора. К настоящей Политике имеет доступ любой Субъект персональных данных, в том числе с
    использованием сети «Интернет». <br>
    1.4. Настоящая Политика создана для соблюдения законодательных требований в сфере обработки и обеспечения
    безопасности персональных данных. Она устанавливает ключевые принципы и методы, применяемые Оператором персональных
    данных для организации процессов обработки и защиты личной информации Субъектов персональных данных, соответствующих
    определению, данному в Законе о персональных данных. <br>
    1.5. Данный документ о политике конфиденциальности может обновляться Оператором, который оставляет за собой право
    вносить изменения в его положения по своему усмотрению и в любое время. Пользователям рекомендуется регулярно
    знакомиться с актуальной версией данного документа для своевременного ознакомления с возможными обновлениями.<br>
    1.6. Политика действует в отношении всех персональных данных, полученных как до, так и после ввода в действие
    настоящей Политики.
  </p>
  <h2>
    2. Определения
  </h2>

  <p>
    2.1. Основные понятия: <br>
  </p>
  <ul>
    <li>Субъект персональных данных - физическое лицо, которое прямо или косвенно определено или определяемо с помощью
      персональных данных, чьи персональные данные обрабатываются. В тексте настоящей Политики термины «Пользователь» и
      «Субъект персональных данных» тождественны;
    </li>
    <li>
      Сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих
      их доступность в сети интернет по сетевому адресу https://avend.ru;
    </li>
    <li>
      Оператор персональных данных - лицо, самостоятельно или совместно с другими лицами организующие и (или)
      осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав
      персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными. Для целей
      настоящей Политики Оператор, обрабатывая персональные данные, является Оператором персональных данных, если иное
      прямо не указано в Политике;
    </li>
    <li>
      Закон о персональных данных - Федеральный закон от 27 июля 2006 года №152-ФЗ «О персональных данных»;
    </li>
    <li>
      Конфиденциальность персональных данных - защищенность персональных данных от неправомерного и/или
      несанкционированного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления,
      распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных;
    </li>
    <li>
      Обработка персональных данных - любое действие (операция) или совокупность действий (операций), совершаемых с
      использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор,
      запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование,
      передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение
      персональных данных;
    </li>
    <li>
      Распространение персональных данных - действия, направленные на раскрытие персональных данных неопределенному
      кругу лиц;
    </li>
    <li>
      Предоставление персональных данных - действия, направленные на раскрытие персональных данных определенному лицу
      или определенному кругу лиц;
    </li>
    <li>
      Блокирование персональных данных - временное прекращение обработки персональных данных (за исключением случаев,
      если обработка необходима для уточнения персональных данных);
    </li>
    <li>
      Уничтожение персональных данных - действия, в результате которых становится невозможным восстановить содержание
      персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются
      материальные носители персональных данных;
    </li>
    <li>
      Обезличивание персональных данных - действия, в результате которых становится невозможным без использования
      дополнительной информации определить принадлежность персональных данных конкретному субъекту персональных данных.
    </li>
  </ul>
  <br>
  <p>2.2. Прочие термины используются в настоящей Политике в соответствии со значениями, определяемыми действующим
    законодательством Российской Федерации, если иное прямо не указано в Политике.</p>
  </p>
  <h2>
    3. Категории субъектов персональных данных и состав обрабатываемых персональных данных
  </h2>
  <p>
    3.1. Оператор персональных данных обрабатывает персональные данные следующих категорий субъектов персональных
    данных: Клиентов (уполномоченных представителей клиентов) Оператора и Посетителей Сайта. <br>
    3.2. В рамках настоящей Политики под персональными данными понимается любая информация, относящаяся прямо или
    косвенно к субъекту персональных данных, в том числе, Фамилия, Имя и Отчество Пользователя; Электронный адрес
    Пользователя; Номера телефонов Пользователя; Дополнительная информация, получаемая в результате осуществления
    доступа к сайту, включая информацию, касающуюся используемого технического оборудования (устройств),
    технологического взаимодействия с сайтом (включая IP-адрес хоста, операционную систему, тип браузера, географическое
    положение, Интернет-провайдер, данные, полученные при доступе к камере, микрофону и аналогичным устройствам);
    Информация, получаемая автоматически в результате использования cookie-файлов. <br>
    К персональным данным также относятся сведения, автоматически передаваемые при посещении Сайта посредством
    программного обеспечения, установленного на устройстве пользователя. В их числе: IP-адрес, данные cookie-файлов,
    сведения о веб-бразуере (или иной программе, используемой для доступа к Сайту), технические параметры оборудования и
    программ, применяемых пользователем, дата и время посещения Сайта, URL запрошенных страниц и другие аналогичные
    данные. <br>
    В период посещения Пользователем Сайта, Оператор обработки персональных данных может собирать данную техническую
    информацию. Эти данные применяются для поддержания работоспособности Сайта, улучшения качества сервисов, исправления
    неисправностей и повышения удобства использования для посетителей. Важно отметить, что целью Оператора не является
    идентификация конкретного пользователя, посещающего Сайт. <br>
    3.3. Под файлами cookie понимаются небольшие файлы, обычно состоящие из букв и цифр, автоматически скачиваемые и
    загружаемые на устройство, когда субъект персональных данных обращается к Сайту. Файлы cookie позволяют Сайту
    распознавать устройство субъекта персональных данных и отображать Сайт в соответствии с предпочтениями субъекта
    персональных данных.
    Если пользователь не хочет, чтобы cookie-файлы с его устройства использовались, у него есть возможность покинуть
    этот веб-сайт или скорректировать параметры своего браузера. Информацию о том, как управлять cookie в различных
    браузерах, можно найти по следующим ссылкам: Яндекс.Браузер, Mozilla Firefox, Google Chrome, Safari, Microsoft
    Internet Explorer. <br>
    3.4. Информация, получаемая посредством cookie, не относится к специальным категориям, не является биометрической,
    как это определено статьями 10 и 11 Федерального закона о персональных данных, и обрабатывается автоматически. <br>
    3.5. Основанием для обработки такой технической информации с устройства субъекта персональных данных является
    согласие на обработку персональных данных, предоставляемое им путем совершения конклюдентных действий, а именно –
    путем проставления галочки рядом с текстом «Соглашаюсь на обработку персональных данных» и нажатием кнопки отправки
    данных в форме сбора данных на Сайте и продолжением использования Сайта.
  </p>
  <h2>4. Цели и принципы обработки персональных данных
  </h2>
  <p>
    4.1. Персональные данные обрабатываются Оператором включая, но не ограничиваясь, в следующих целях:
  </p>
  <ul>
    <li>
      Совершенствования продуктов и услуг Оператора, а также взаимодействия с клиентами и контрагентами Оператора
    </li>
    <li>
      Реализации задач, прав и ответственности, которые возложены на Оператора в соответствии с законами Российской
      Федерации;
    </li>
    <li>
      Ведения Оператором деятельности, определенной его уставом;
    </li>
    <li>
      Ведения кадрового делопроизводства и бухгалтерского учета;
    </li>
    <li>
      Заключения и исполнения договоров в рамках гражданско-правовых и иных отношений;
    </li>
    <li>
      Идентификации пользователей Сайта;
    </li>
    <li>
      Обеспечения соблюдения актов законодательства и иных нормативных правовых актов Российской Федерации.
    </li>
  </ul>
  <p>4.2 Обработка персональных данных осуществляется Оператором разумно и добросовестно и на основе следующих
    принципов:</p>
  <ul>
    <li>
      Персональные данные обрабатываются на основе законности и справедливости.
    </li>
    <li>
      Обработка персональных данных должна быть ограничена достижением конкретных, заранее определённых и законных
      задач. Обработка данных, которая не соответствует целям их сбора, не допускается.
    </li>
    <li>
      Запрещается объединение баз данных с персональными данными, если их обработка осуществляется с несовместимыми
      целями.
    </li>
    <li>
      В обработку принимаются лишь те персональные данные, которые соответствуют поставленным целям.
    </li>
    <li>
      Содержание и количество обрабатываемых данных должны соответствовать заявленным целям. Избыточная обработка
      данных, не связанная с этими целями, недопустима.
    </li>
    <li>
      При обработке персональных данных необходимы точность, достаточность и, при необходимости, актуальность данных в
      соответствии с целями их обработки. Оператор принимает все необходимые меры по устранению или корректировке
      неполных или неточных данных.
    </li>
    <li>
      Хранение персональных данных должно происходить в форме, позволяющей идентифицировать субъекта, не дольше времени,
      необходимого для достижения целей обработки, если иное не предусмотрено законом или контрактом. Данные
      уничтожаются или анонимизируются по завершении целей обработки или при утрате необходимости в них, если другое не
      предусмотрено законодательством.
    </li>
    <li>
      Персональные данные обрабатываются на основе соответствия целей обработки персональных данных целям, заранее
      определенным и заявленным при сборе персональных данных, а также полномочиям Оператора;
    </li>
    <li>
      Персональные данные обрабатываются на основе соответствия объема и характера обрабатываемых персональных данных,
      способов обработки персональных данных целям обработки персональных данных.
    </li>
  </ul>
  <h2>
    <h2>
      5. Правовые основания обработки персональных данных
    </h2>
    <p>
      5.1. Правовым основанием обработки персональных данных является совокупность правовых актов, во исполнение которых
      и в соответствии с которыми Оператор осуществляет обработку персональных данных, в том числе, но не ограничиваясь:
    </p>
    <ul>
      <li>Конституция Российской Федерации;</li>
      <li>Федеральный закон №152-ФЗ от 27 июля 2006 года «О персональных данных»;</li>
      <li>
        Гражданский кодекс Российской Федерации;
      </li>
      <li>
        Постановление Правительства РФ от 15 сентября 2008 г. N 687 «Об утверждении Положения об особенностях обработки
        персональных данных, осуществляемой без использования средств автоматизации»;
      </li>
      <li>
        Постановление Правительства РФ от 1 ноября 2012 г. N 1119 «Об утверждении требований к защите персональных
        данных при их обработке в информационных системах персональных данных»;
      </li>
      <li>
        Приказ ФСТЭК России от 18 февраля 2013 г. № 21 «Об утверждении состава и содержания организационных и
        технических мер по обеспечению безопасности персональных данных при их обработке в информационных системах
        персональных данных»;
      </li>
      <li>
        Приказ ФСТЭК России № 55, ФСБ России № 86, Мининформсвязи России № 20 от 13 февраля 2008 г. «Об утверждении
        Порядка проведения классификации информационных систем персональных данных»;
      </li>
      <li>
        Устав и локальные акты Оператора;
      </li>
      <li>
        Иные нормативные правовые акты, регулирующие отношения, связанные с коммерческой деятельностью Оператора.
      </li>
    </ul>
    <h2>6. Основные права и обязанности Оператора</h2>

    <p>
      6.1. В соответствии с требованиями Закона о персональных данных Оператор имеет право:
    </p>
    <ul>
      <li>
        Самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения
        обязанностей, предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными
        правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами;
      </li>
      <li>
        получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;
      </li>
      <li>
        В случае отзыва субъектом персональных данных согласия на обработку персональных данных продолжить обработку
        персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о
        персональных данных;
      </li>
      <li>
        Поручить обработку персональных данных другому лицу с согласия субъекта персональных данных, если иное не
        предусмотрено федеральным законом, на основании заключаемого с этим лицом договора. Лицо, осуществляющее
        обработку персональных данных по поручению Оператора, обязано соблюдать принципы и правила обработки
        персональных данных, предусмотренные Законом о персональных данных;
      </li>
    </ul>
    <p>
      6.2. В соответствии с требованиями Закона о персональных данных Оператор обязан:
    </p>
    <ul>
      <li>
        Использовать полученные персональные данные исключительно для целей, указанных в настоящей Политике;
      </li>
      <li>
        Организовывать и обеспечивать обработку персональных данных в соответствии с требованиями Закона о персональных
        данных;
      </li>
      <li>
        Удалить персональные данные субъекта персональных данных в случае, если закончился период их хранения или
        субъект персональных данных отозвал согласие на их обработку;
      </li>
      <li>
        Обеспечить надлежащее безопасное хранение персональных данных, не разглашать персональные данные без
        предварительного письменного согласия субъекта персональных данных, за исключением случаев, предусмотренных
        законодательством РФ;
      </li>
      <li>
        Осуществить блокирование персональных данных, относящихся к соответствующему субъекту персональных данных, с
        момента обращения или запроса субъекта персональных данных или его законного представителя либо уполномоченного
        органа по защите прав субъектов персональных данных на период проверки в случае выявления недостоверных
        персональных данных или неправомерных действий;
      </li>
      <li>
        Отвечать на обращения и запросы субъектов персональных данных и их законных представителей в соответствии с
        требованиями Закона о персональных данных;
      </li>
      <li>
        Сообщать в уполномоченный орган по защите прав субъектов персональных данных (Федеральную службу по надзору в
        сфере связи, информационных технологий и массовых коммуникаций) по запросу этого органа необходимую информацию в
        течение 10 (десяти) дней с даты получения такого запроса.
      </li>
    </ul>
    <h2>
      7. Основные права субъектов персональных данных
    </h2>

    <p>
      7.1. Субъект персональных данных имеет право на:
    <ul>
      <li>
        Отзыв своего согласия на обработку персональных данных;
      </li>
      <li>
        Уточнение, исключение или исправление Оператором неполных, неверных, устаревших, недостоверных, незаконно
        полученных или не являющихся необходимыми для Оператора персональных данных;
      </li>
      <li>
        Доступ к своим персональным данным, обрабатываемым Оператором, а также к сведениям о правовых основаниях и целях
        обработки персональных данных;
      </li>
      <li>
        Защиту своих прав и законных интересов, в том числе на возмещение убытков и компенсацию морального вреда в
        судебном порядке;
      </li>
      <li>
        Обжалование действий или бездействия Оператора в административном (в уполномоченный орган по защите прав
        субъектов персональных данных) или в судебном порядке.
      </li>
    </ul>
    </p>
    <p>
      7.2. Права субъектов персональных данных, предусмотренные п. 7.1. настоящей Политики, могут быть ограничены в
      соответствии с требованиями законодательства Российской Федерации и (или) в случаях, когда Оператор осуществляет
      обработку персональных данных на иных правовых основаниях, нежели согласие субъекта персональных данных.
    </p>
    <h2>
      8. Порядок и условия обработки персональных данных
    </h2>
    <p>
      8.1. Оператор осуществляет сбор, регистрацию, систематизацию, накопление, хранение, уточнение (обновление,
      изменение), извлечение, использование, передачу (распространение, предоставление, доступ), а также обезличивание,
      блокировку, удаление и уничтожение персональных данных. Оператор производит неавтоматическую и автоматическую
      обработку персональных данных с получением и/или передачей информации через информационно-телекоммуникационные
      сети или без них. <br>
      8.2. Обработка персональных данных осуществляется Оператором с согласия субъектов персональных данных на обработку
      их персональных данных, а также без такового в случаях, предусмотренных законодательством Российской
      Федерации.<br>
      8.3. Обработка персональных данных осуществляется Оператором в соответствии с требованиями законодательства
      Российской Федерации любым законным способом, в том числе в информационных системах персональных данных с
      использованием средств автоматизации или без использования таких средств.<br>
      8.4. При обработке персональных данных Оператором обеспечивается точность персональных данных, их достаточность, а
      в необходимых случаях и актуальность по отношению к целям обработки персональных данных. Оператор принимает
      необходимые правовые, организационные и технические меры для защиты персональных данных от неправомерного и (или)
      несанкционированного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления,
      распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных.<br>
      8.5. К обработке персональных данных допускаются работники Оператора, в должностные обязанности которых входит
      обработка персональных данных. <br>
      8.6. Оператор вправе передать персональные данные третьим лицам в следующих случаях:
    </p>
    <ul>
      <li>
        Субъект персональных данных выразил согласие на такую передачу;
      </li>
      <li>
        Передача производится работникам Оператора, в должностные обязанности которых входит обработка персональных
        данных, для использования в целях, указанных в п. 4.1. настоящей Политики;
      </li>
      <li>
        Передача необходима для заключения, исполнения договоров и соглашений в рамках трудовых, гражданско-правовых и
        иных отношений с Оператором;
      </li>
      <li>
        Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством
        процедуры.
      </li>
    </ul>
    <p>
      8.7. Обработка и хранение персональных данных осуществляются Оператором не дольше, чем этого требуют цели
      обработки персональных данных, если отсутствуют законные основания для дальнейшей обработки. <br>
      8.8. Раскрытие третьим лицам и распространение персональных данных без согласия субъекта персональных данных, если
      иное не предусмотрено федеральным законом, не допускается. <br>
      8.9. Ответственность за нарушение требований законодательства Российской Федерации и нормативных актов Оператора в
      сфере обработки и защиты персональных данных определяется в соответствии с законодательством Российской Федерации.
    </p>
    <h2>
      9. Заключительные положения
    </h2>
    <p>
      9.1. Новая редакция Политики вступает в силу с момента ее размещения на Сайте, если в ней не указан иной срок ее
      вступления в силу. <br>
      9.2. Если Пользователь обнаружит неточности в своих персональных данных, он может обновить их самостоятельно,
      отправив уведомление на электронную почту Оператора info@avend.ru с темой «Актуализация персональных данных».
      Пользователь вправе в любой момент отозвать согласие на обработку данных, направив уведомление на адрес
      info@avend.ru с темой «Отзыв согласия на обработку персональных данных».<br>
      9.3. Оператор не занимается обработкой личной информации, отражающей этническую или расовую идентичность,
      политические предпочтения, религиозные или философские воззрения, состояние здоровья, детали частной жизни,
      принадлежность к общественным организациям, включая профессиональные союзы.<br>
      9.4. Если иное не предусмотрено законодательством Российской Федерации, Оператор прекращает обработку персональных
      данных (в отношении любой из заявленных целей) и уничтожает их в случаях:
    </p>
    <ul>
      <li>
        ликвидации Оператора;
      </li>
      <li>
        реорганизации Оператора, влекущей прекращение его деятельности;
      </li>
      <li>
        отпадения правовых оснований обработки персональных данных и/или достижения целей обработки персональных данных.
      </li>
    </ul>
    <p>
      9.5. Во всем остальном, что не отражено напрямую в Политике, Оператор руководствуется нормами и положениями Закона
      о персональных данных.
    </p>
    <h2>СОГЛАСИЕ посетителя сайта на обработку персональных данных
    </h2>
    <p>
      Физическое лицо, которое идентифицируется в настоящем Согласии по данным, предоставленным им при заполнении формы
      сбора данных на сайте https://avend.ru (далее – Сайт) действуя свободно, своей волей и в своем интересе, а также
      подтверждая свою дееспособность, настоящим выражает ООО «МИР ВЕНДИНГА РУС» (ИНН 7726426169, ОГРН 1187746332839,
      адрес регистрации: 117648, город Москва, мкр. Северное Чертаново, д. 5, этаж 2, офис 204), являющемуся Оператором
      персональных данных, которому принадлежит Сайт, конкретное, предметное, информированное, сознательное и
      однозначное Согласие на автоматизированную и неавтоматизированную обработку персональных данных, в соответствии со
      следующим перечнем:
    </p>
    <ul>
      <li>Фамилия, Имя и Отчество;</li>
      <li>Электронный адрес; </li>
      <li>Номера телефонов; </li>
      <li>Дополнительная информация, получаемая в результате осуществления доступа к сайту, включая информацию, касающуюся используемого технического оборудования (устройств), технологического взаимодействия с сайтом (включая IP-адрес хоста, операционную систему, тип браузера, географическое положение, Интернет-провайдер, данные, полученные при доступе к камере, микрофону и аналогичным устройствам); </li>
      <li>Информация, получаемая автоматически в результате использования cookie-файлов;  </li>
      <li>Источник захода на Сайт и информация поискового или рекламного запроса;</li>
      <li>данные о пользовательском устройстве (среди которых разрешение, версия и другие атрибуты, характеризующие пользовательское устройство);</li>
      <li>пользовательские клики, просмотры страниц, заполнения полей, показы и просмотры баннеров и видео;</li>
      <li>данные, характеризующие аудиторные сегменты;</li>
      <li>параметры сессии;</li>
      <li>данные о времени посещения;</li>
      <li>идентификатор пользователя, хранимый в cookie;</li>
      <li>IP-адрес, данные cookie-файлов, сведения о веб-бразуере (или иной программе, используемой для доступа к Сайту), технические параметры оборудования и программ, применяемых пользователем, дата и время посещения Сайта, URL запрошенных страниц и другие аналогичные данные.</li>
    </ul>
    <p>
      в целях: Совершенствования продуктов и услуг Оператора, а также взаимодействия с клиентами и контрагентами
      Оператора; Реализации задач, прав и ответственности, которые возложены на Оператора в соответствии с законами
      Российской Федерации; Ведения Оператором деятельности, определенной его уставом; Ведения кадрового
      делопроизводства и бухгалтерского учета; Заключения и исполнения договоров в рамках гражданско-правовых и иных
      отношений; Идентификации пользователей Сайта; Обеспечения соблюдения актов законодательства и иных нормативных
      правовых актов Российской Федерации. <br><br>
      ООО «МИР ВЕНДИНГА РУС» вправе осуществлять обработку персональных данных следующими способами: сбор, регистрация,
      систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача
      (распространение, предоставление, доступ), а также обезличивание, блокировка, удаление и уничтожение персональных
      данных. <br><br>
      Согласие выражается путем проставления Физическим лицом галочки рядом с текстом «Соглашаюсь на обработку
      персональных данных» и нажатием кнопки отправки данных в форме сбора данных на Сайте https://avend.ru и действует
      в течение сроков, установленных действующим законодательством РФ.
    </p>
</div>

@@include("../partials/footer.html")