.policy-page{
  @include phone{
    padding-top: 9.2rem;
  }
}

.privacy-policy-block {
  width: 84rem;
  margin: 0 auto;
  margin-bottom: 10rem;

  padding-top: 4rem;

  @include phone {
    width: auto;
    padding: 0 1.5rem;
    padding-top: 3.2rem;
  }

  & h1 {
    margin-bottom: 4rem;
    font-family: $second-ff;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 100%;
    color: $black;
    
    @include phone {
      margin-bottom: 3rem;
      font-size: 2.4rem;
    }
  }

  & h2 {
    margin-bottom: 2rem;
    font-family: $second-ff;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: normal;
    color: $black;

    @include phone {
      margin-bottom: 1.2rem;
      font-size: 2rem;
    }
  }

  & p {
    margin-bottom: 3.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;

    &:last-child{
      margin-bottom: 0;
    }

    @include phone {
      margin-bottom: 2.4rem;
      font-size: 1.4rem;
    }
  }

  & ul{
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;

    & li{
      list-style: none;

      &::before{
        content: "—";
        padding-right: 0.8rem;
      }
    }
  }

  a {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    color: $violet;

    &:hover {
      color: $dark_violet;
    }

    @include phone {
      font-size: 1.4rem;
    }
  }
}