.ui-kit {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  section {
    background: #444444;
    padding: 12rem 0;
    color: $white;

    &.section-light {
      background-color: $white;
      color: $black;
    }

    &.section-green {
      color: $white;
    }

    .row {
      flex-shrink: 0;
      display: flex;
      width: 100%;
      margin-top: 1.6rem;
      gap: 1.6rem;

      @include phone {
        flex-direction: column;
      }
    }

    .inner {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      margin-top: 1rem;

      @include phone {
        flex-wrap: wrap;
      }
    }

    .column {
      width: auto;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      padding-bottom: 1.5rem;
    }

    .title {
      margin-bottom: 1rem;
      font-family: $base-ff;
      font-size: 3rem;
    }

    .item {
      margin-top: 1.5rem;
    }

    .bkg-black {
      background-color: $black;
    }

    .bkg-light {
      background-color: gray;
    }

    .bkg-green {}
  }

  .colors {
    .row {
      margin-top: 1.6rem;

      div {
        width: 19.9rem;
        height: 19.9rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &.new {
          background: $new;
          color: $black;
        }

        &.light_gray {
          background: $light_gray;
          color: $black;
        }

        &.white {
          background: $white;
          color: $black;
        }

        &.black {
          background: $black;
          color: $white;
        }

        &.gray {
          background: $gray;
          color: $white;
        }

        &.error {
          background: $error;
        }

        &.light_violet {
          background: $light_violet;
        }

        &.top {
          background: $top;
        }

        &.violet {
          background: $violet;
        }

        &.dark_violet {
          background: $dark_violet;
        }
      }
    }
  }


  .typography {
    .column {
      width: 50%;
      flex-direction: column;

      h1,
      h2,
      h3,
      p {
        margin-top: 2.9rem;
      }
    }
  }


  .selects {
    .column {
      width: 30rem;
    }
  }

  .form-elements {
    .inner {
      justify-content: center;
      background: gray;
    }

    form {
      width: 37.9rem;
    }
  }
}

@include phone {
  .ui-kit {
    .column {
      width: 100% !important;
    }
  }
}