<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="../../static/img/checkbox-off.svg" as="image" type="image/svg+xml">
    <link rel="preload" href="../../static/img/checkbox-on.svg" as="image" type="image/svg+xml">
    <link rel="stylesheet" href="../../static/fonts/stylesheet.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../bundle.css">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=3eb438c6-c254-40aa-a12a-295800174e50&lang=ru_RU" type="text/javascript">
    </script>
</head>

<body>

    <header class="header" id="main-header">
        <div class="wrapper">
            <a class="logo" href="#">
                <picture>
                    <source srcset="../../static/img/logo_mobile-white.svg" media="(max-width: 768px)">
                    <img src="../../static/img/logo_white.svg" alt="">
                </picture>
            </a>
            <nav class="header_nav navigation">
                <ul class="header_nav-list navigation_list">
                    <li>
                        <a href="" class="text3">Каталог</a>
                    </li>
                    <li>
                        <a href="" class="text3">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header_info">
                <a href="tel:88007074262" class="contact-link link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                        <path
                            d="M5.125 1.78125L6.375 4.78125C6.59375 5.28125 6.46875 5.875 6.03125 6.21875L4.5 7.5C5.53125 9.6875 7.3125 11.4688 9.5 12.5L10.7812 10.9688C11.125 10.5312 11.7188 10.4062 12.2188 10.625L15.2188 11.875C15.8125 12.0938 16.0938 12.75 15.9375 13.3438L15.1875 16.0938C15.0312 16.625 14.5625 17 14 17C6.25 17 0 10.75 0 3C0 2.4375 0.375 1.96875 0.90625 1.8125L3.65625 1.0625C4.25 0.90625 4.90625 1.1875 5.125 1.78125Z"
                            fill="white" />
                    </svg>
                    <span class="text2">8(800) 707‑42‑62</span>
                </a>
            </div>
            <button class="header_burger"><span></span></button>
        </div>
        <div class="header_mobile-menu">
            <div class="wrapper">
                <nav class="header_mobile-menu-nav navigation">
                    <ul class="header_mobile-menu-nav-list navigation_list">
                        <li>
                            <a href="#" class="title2">Каталог</a>
                        </li>
                        <li>
                            <a href="#" class="title2">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="header_mobile-menu-info">
                    <a href="tel:88007074262" class="contact-link link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                            <path
                                d="M5.125 1.78125L6.375 4.78125C6.59375 5.28125 6.46875 5.875 6.03125 6.21875L4.5 7.5C5.53125 9.6875 7.3125 11.4688 9.5 12.5L10.7812 10.9688C11.125 10.5312 11.7188 10.4062 12.2188 10.625L15.2188 11.875C15.8125 12.0938 16.0938 12.75 15.9375 13.3438L15.1875 16.0938C15.0312 16.625 14.5625 17 14 17C6.25 17 0 10.75 0 3C0 2.4375 0.375 1.96875 0.90625 1.8125L3.65625 1.0625C4.25 0.90625 4.90625 1.1875 5.125 1.78125Z"
                                fill="white" />
                        </svg>
                        <span class="text2">8(800) 707‑42‑62</span>
                    </a>
                    <address class="address link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16" fill="none">
                            <path id=""
                                d="M6.99957 15.625C6.62457 16.0938 5.90582 16.0938 5.53082 15.625C3.93707 13.5938 0.280823 8.75 0.280823 6C0.280823 2.6875 2.96832 0 6.28082 0C9.59332 0 12.2808 2.6875 12.2808 6C12.2808 8.75 8.62457 13.5938 6.99957 15.625ZM6.28082 4C5.56207 4 4.90582 4.40625 4.53082 5C4.18707 5.625 4.18707 6.40625 4.53082 7C4.90582 7.625 5.56207 8 6.28082 8C6.96832 8 7.62457 7.625 7.99957 7C8.34332 6.40625 8.34332 5.625 7.99957 5C7.62457 4.40625 6.96832 4 6.28082 4Z"
                                fill="#F5F5F5" />
                        </svg>
                        <span class="text2">г. Москва, Каширское шоссе, д. 49 стр. 24</span>
                    </address>
                </div>
            </div>
        </div>
    </header>

    <main class="flex-filler">