<div class="contact-form">
    <div class="contact-form__input-wrapper">
        <span class="wpcf7-form-control-wrap">
            <input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="‎ ‎" value="" type="text" name="fio">

            <span class="input-placeholder">Компания<span class="required">*</span></span>
        </span>
    </div>
    <div class="contact-form__input-wrapper">
        <span class="wpcf7-form-control-wrap">
            <input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="‎ ‎" value="" type="text" name="phone">

            <span class="input-placeholder">Вид услуг<span class="required">*</span></span>
        </span>
    </div>
    <div class="contact-form__input-wrapper">
        <span class="wpcf7-form-control-wrap">
            <input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="‎ ‎" value="" type="text" name="phone">

            <span class="input-placeholder">Имя Фамилия<span class="required">*</span></span>
        </span>
    </div>
    <div class="contact-form__input-wrapper">
        <span class="wpcf7-form-control-wrap">
            <input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="‎ ‎" value="" type="tel" name="email">

            <span class="input-placeholder">Телефон<span class="required">*</span></span>
        </span>
    </div>
    <div class="contact-form__input-wrapper">
        <span class="wpcf7-form-control-wrap">
            <input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="‎ ‎" value="" type="email" name="email">

            <span class="input-placeholder">Почта<span class="required">*</span></span>
        </span>
    </div>
    <div class="contact-form__extra">
        <span class="wpcf7-form-control wpcf7-acceptance">
            <span class="wpcf7-list-item">
                <label>
                    <input type="checkbox" name="acceptance-59" value="1" aria-invalid="false">
                    <span class="wpcf7-list-item-label">Нажимая кнопку «Оставить заявку», я соглашаюсь с <a href="/privacy-policy/" target="_blank">Политикой конфиденциальности</a></span>
                </label>
            </span>
        </span>
    </div>
    <div class="contact-form__submit-wrapper">
        <div class="btn-expand btn-expand--to-yellow btn-expand--submit-fix">
            <div class="btn-expand__inner">
                <input type="submit" value="Оставить заявку">
                <span class="wpcf7-spinner"></span>
            </div>
        </div>
    </div>
</div>
