.features_title{
  margin-bottom: 4rem;
  text-align: center;
  @include phone {
    margin-bottom: 3.2rem;
  }
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 12rem;

  @include phone {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    margin-bottom: 10rem;
  }
}

.features-item {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  padding: 2rem 0 2.8rem 0;
  background-color: $light_gray;
  border-radius: 0.5rem;

  @include phone {
    align-items: center;
    width: 100%;
    padding-top: 0;
    padding-bottom: 1.6rem;
    gap: 2rem;
  }
}

.features-item-icon {
  display: block;
  width: 6rem;
  height: 4rem;
  padding: 0.8rem 1.8rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: $violet;

  & img {
    width: 2.4rem;
    height: 2.4rem;
  }

  @include phone {
    border-radius: 0 0 0.5rem 0.5rem;
  }
}

.features-item-text {
  padding: 0 2rem;

  @include phone {
    text-align: center;
  }
}